<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Información sobre mi
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Información sobre mi</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Hola, Soy</ion-card-title>
      <ion-card-subtitle>Marvin Anibal Zambrano Giler</ion-card-subtitle>
      <ion-avatar>
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
    </ion-card-header>
  
    <ion-card-content>
      Lugar: Manabi - Portoviejo 
      <br/>
      Fecha de nacimiento: 3 de Octubre de 1999.
      <br/>
      Correo Electronico: mazg31099@gamil.com
      <br/>
      Celular: 0997149628
    </ion-card-content>
  </ion-card>
  
</ion-content>
